# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Databases
backend/db.sqlite3

# Node / JS
node_modules/
dist/
.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

# IDEs & System
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.DS_Store
Thumbs.db
